.Container {
  width: 10rem;
  height: 100%;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.current {
  text-decoration: underline;
  background-color: rgba(233, 233, 233, 0.2);
}
