@import '../theme.scss';

.BlobViewer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: $back-color;
  color: $fore-color;
}

.sidebarWrapper {
  height: 100%;
  z-index: 999;
  background-color: $back-color;
}

.contentWrapper {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
